@font-face {
    font-family: "nixie_oneregular";
    src: url("nixieone-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: content-box;
}

html{
    font-family: "Roboto",sans-serif;
    margin: 0;
    height: 100%;
}

body{
    font-family: "Roboto",sans-serif;
    margin: 0;
    height: 100%;    
}

.settings-list {
    width: 50%;
    height: 100%;
    overflow: hidden; /* overflow: hidden не действует для тега body, для div, например, действует*/
    /*border: 2px solid yellow;*/
}

.back{
    position: fixed;
    width: 50%;
    height: 100%;
    background-image:url('../img/settings-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /*border: 2px solid orange;*/
}

.scrollbar-y-hidden-block{
    /*position: relative;*/
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    /*border: 2px solid green;*/
}

.scrollbar-y-hidden-block .content {
    box-sizing: border-box;
    /*box-sizing: content-box;*/
    width: 100%;
    /*height: 100%;*/
    padding: 15px;  
    /*overflow: hidden;*/
    /*border: 2px solid red;*/
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;    
    margin-bottom: 3px;
    /*border: 2px solid red;*/
    background-color: rgba(255, 94, 129, 0.644);
    color: rgb(253, 160, 199);
    cursor: pointer;
    font-size: 1.5rem;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    z-index: 2;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(255,100,100,0.4);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: rgba(255,100,100,0.4);
    /*display: none;*/
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*============================= The switch - the box around the slider ===================================*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*=============================                             ===================================*/
.add-notify{
    /*font-family: "nixie_oneregular";*/
    /*width:50%;*/
    z-index: 2;
}

.time-digit{
    /*font-family: "nixie_oneregular";*/
    margin: 10px;
    color: rgb(128, 30, 0);
    display: inline-block;    
    vertical-align:top;
    text-align:center;
}

.time-digit input[type=text] {    
    font-family: "nixie_oneregular";
    background-color: rgb(133, 0, 82);
    color: rgba(255, 81, 0, 0.822);
    border: 2px solid rgba(0, 0, 0, 0.349);
    font-size: 6rem;
    padding:1rem 0rem;
    width: 8rem;
    text-align:center;
}

/*=============================                             ===================================*/
#canvas{
    /*width: 50%;
    height: 200px;*/
}