html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  /*-webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;*/
  color: #333;
  font-family: "Roboto",sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1em;
}

body {
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;*/
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

i {
  cursor: pointer;
}
/*========================================== PLAYER =============================================*/
.player {
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  /*width: 720px;
  height: 510px;*/
  background-size: contain;
  background-repeat: no-repeat;
  white-space: nowrap;
  font-size: 0;
  /*border: 2px solid green;*/
}
/*========================================== COVER =============================================*/
.main-cover {
  font-size: initial;
  position: relative;
  z-index: 1;
  /*width: 100%;
  height: 50%;*/
  /*background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(http://static.stereogum.com/blogs.dir/2/files/2011/12/Adele-21.jpg) center bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(http://static.stereogum.com/blogs.dir/2/files/2011/12/Adele-21.jpg) center bottom;*/
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../music/Neon Nox/cover.jpg") center bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../music/Neon Nox/cover.jpg') center bottom;
  background-size: cover;
  background-position: center;
  /*background-size: contain;*/
  /*border: 2px solid black;*/
}
/*========================================== NAV =============================================*/
.nav {
  /*margin-top: 5px;*/
  position: relative;
  z-index: 3;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  /*border: 2px solid yellow;*/
}
.nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .left i {
  cursor: pointer;
  color: white;
}
.nav .left h6 {
  margin: 0;
  padding-left: 20px;
  color: white;
  font-size: 18px;
  line-height: 1.38;
}
.nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .right i {
  cursor: pointer;
  color: white;
}
.nav .right .search {
  padding-right: 10px;
}
/*========================================== PLAYER-UI =============================================*/
.player-ui {
  position: relative;
  z-index: 3;
  padding-top: 30px;
  /*border: 2px solid pink;*/
}
.player-ui .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.player-ui .title h3 {
  margin: 0;
  color: white;
  font-size: 30px;
  font-weight: 100;
}
.player-ui .small {
  padding: 15px 35px 0px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.player-ui .small p, .player-ui .small i {
  margin: 0;
  color: white;
  font-size: 14px;
}
.player-ui .small p {
  color: #ddd;
}
.player-ui .small i {
  font-size: 16px;
}
.player-ui .progress {
  position: relative;
  height: 2px;
  margin: 30px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.3);
}
.player-ui .progress .played {
  width: 20%;
  height: 2px;
  position: absolute;
  background: #F44336;
}
.player-ui .progress .played .circle {
  width: 10px;
  height: 10px;
  background: #F44336;
  border-radius: 50%;
  margin-left: 52px;
  margin-top: -4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.player-ui .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 50px 0px 50px;
}
.player-ui .controls i {
  color: white;
  font-size: 32px;
}
.player .btn {
  /*margin-left: auto;*/
  margin-right: 10px;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
  /*margin-top: 20px;*/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}
.player .btn i {
  font-size: 28px;
  color: white;
}
/*========================================== MUSIC =============================================*/
.music {
  font-size: initial;  
  background: #1A1B1E;
  overflow-y: scroll;
  /*height: 200px;*/
  /*height: 50%;
  width: 100%;*/
  /*padding: 10px 37px 0px 20px;*/
  /*padding-top: 10px;*/
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  /*border: 2px solid red;*/
}
.music .song {
  padding-left: 20px;
  padding-right: 30px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.music .song:hover{
  background-color: rgba(255, 200, 200, 0.2);
}
.music .song .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}
.music .song .info .img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background: red;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  /*border: 2px solid red;*/
}
.music .song .info .titles {  
  /*border: 2px solid red;*/
  min-width: 0;
  overflow: hidden;
}
.music .song .info .titles h5, .music .song .info .titles p {
  margin: 0;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.music .song .info .titles h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7px;  
}
.music .song .info .titles p {
  font-size: 13px;
  color: #929292;
}
/* .music .song .info h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
} */
/* .music .song .state {  
  border: 2px solid red;
} */

.music .song .state.playing i {
  color: #F44336;
}
.music .song .state i {
  color: #ddd;  
  /*margin-right: 10px;*/
}

@media screen and (orientation:portrait) {
/* Portrait styles */
  /*.player{
    overflow-x: hidden;
    overflow-y: auto;
  }*/
  .main-cover {
    width: 100%;
    height: 50%;    
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  .music {
    width: 100%;
    height: 50%;
  }
}
   /* Landscape */
 @media screen and (orientation:landscape) {
/* Landscape styles */
  /*.player{
    overflow-x: auto;
    overflow-y: hidden;
  }*/
  .main-cover {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align:top;    
    border-right: 2px solid rgba(255, 255, 255, 0.2);
  }
  .music {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align:top;
  }
}
